

.AboutText{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 54px;
    color: #FFF;
    text-transform: uppercase;

}








@media (max-width: 715px){
    .links-container{
        width: 90%;
    }

    .logo h1{
        font-size: 40px;
    }

    .links-item{
        width: 100%;
    }

    .link{
        width: 1000%;
    }
}
